<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th><h2>Integrantes de la familia:</h2></th>
            </tr>
 
        </thead>
        <tbody>
            {%for f in familiares %}
                <tr>
                    <td>
                        <ul>
                            <li><span style="color:rgb(7, 7, 7)">{{f.name}} tiene {{f.age}} años y nació en  </span><span style="color:rgb(0, 26, 255)">{{f.birthday}} .</span></li>
                        </ul>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody> 
    </table>
</body>
</html>