<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is the new member: </h1>
    <hr></hr>

    <h4><span style="color:rgb(7, 7, 7)"> his name is: </span><span style="color:rgb(0, 26, 255)">{{familiar.name}}.</span>
    <span style="color:rgb(7, 7, 7)"> He is </span><span style="color:rgb(0, 26, 255)">{{familiar.age}}</span>
    <span style="color:rgb(7, 7, 7)"> years old. His birthday is: </span><span style="color:rgb(0, 26, 255)">{{familiar.birthday}}.</span></h4>
 
    
</body> 
</html>
